@charset "utf-8";
/* CSS Document */
*{
box-sizing: border-box;	
	
}
#container{
	margin:0 auto;
	Height:400px;
	border: solid;
	width:450px;
	background-color: aqua	
}

article{
	background-color: black;
	border:solid;
	text-align: center
		
}
label {
	text-align:right;
	}

#container2{
	margin:0 auto;
	width:400px;
	height:400px;	
}