@charset "utf-8";
/* CSS Document */
*{
box-sizing: border-box;
}
body{
	background-color: rgba(54,193,20,1.00)
}

#container{
	width: 800px;
	height: 1000px;
	margin:0 auto;
	
}
.left{
	width:380px;
	height:300px;
	background-color:rgba(240,232,232,1.00);
	border-radius: 25px;
	float:left;
	margin:0px 10px 10px 15px;
	padding: 10px 10px 30px 10px;
	border: solid 10px rgba(189,44,46,1.00);
	display: flex;
    justify-content: center;
	
}
.right{
	width:380px;
	height:300px;
	background-color:rgba(233,0,3,.5);
	border-radius: 25px;
	float:right;
	padding: 30px 30px 30px 30px;
	border: solid  10px rgba(189,44,46,1.00); 
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

footer{
	background-color:rgba(239,234,234,1.00);
	clear: both;
	text-align:center;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	
	}
header > h1{
	text-align: center;
	color:black;
	font-family: "Playwrite CU", cursive;
   	font-optical-sizing: auto;
   	font-style: normal;
	font-size: 50px;
}

nav{
	background-color:rgba(62,200,22,0.60);
	border:solid;	
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow:hidden;
	background-color: rgba(179,11,14,.5)
	
}

nav ul li{
	float:right;
	text-align: center;
	
}
nav ul li a{
	
	display:block;
	padding:15px;
	
}
nav ul li a:hover{
	
	background-color: #111;
}
h2{
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 40px
}

a {
	padding:0px 40px 10px 20px;
}

header{
	
    border-style: outset ;
	border-radius: 10px;
	border-color: rgba(237,15,18,1.00);
	background-color:rgba(0,0,0,.3)
	}


a:hover{
	color:rgba(54,193,20,1.00) ;
	font-size:15px;
} 
a:active{
	color:rgba(6,72,218,1.00);
	
}

table, th,  td{
	border: 5px solid;
	border-collapse:collapse;
	padding:15px;
	text-align: center;
	margin:auto;
	
	}
	
caption{
	font-size:40px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background:rgba(251,251,251,.5);
	
	}


	
tr:hover{
	background-color: rgba(189,44,46,.5);
	
}
th{
	background-color: rgba(189,44,46,1.00);
	}


#listsec{
	float:right
	
}
button{
	margin: 20px 0px 0px 15px;
}

#formsec{
	
	border:solid;
	margin-top: 350px;
	height:550px;
	background-color: rgba(232,100,102,1.00); 
	padding-top: 50px;
	
	
}
#formsec h2{text-align: center;
			font-style: italic;
			
}

form{ margin-top:50px}

#formsec h3{
	
	margin:0 auto;
	text-align: center
	
}

.left img{
	width:300px;
	height:260px;
	margin-left:20px	
}
#container12{
	
	margin:200px;
}
#submitform{
	
	margin-left:350px
}
svg{
	margin:0 px;
	margtin-top:10px;
}


